*{
	margin: 0;
	padding:0;
}

.width_swapper{
	margin: 0 auto;
    width: 20%;
}
.table_pro tr:first-child > td{
    width: 105px;
}
.radio_height{height: 13px;}
.toolbar{
	float: right;
  	width: 130px;
  	height: 45px;
  	line-height: 45px;
  	background: #ff7444;
  	color: #fff;
  	text-align: center;
  	margin-bottom: 40px;
  	border-radius: 5px;
  	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition:    all .5s ease-in-out 0s;
	transition:         all .5s ease-in-out 0s;
}
.toolbar a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;

}
.toolbar:hover{
	-webkit-box-shadow: 0 0 10px red;
	-moz-box-shadow:    0 0 10px red;
	-ms-box-shadow:     0 0 10px red;
	box-shadow:         0 0 10px red;
	
}
.input-group-1{
	position: relative;
}
.input-group-btn-1{
	position: absolute;
    display: block;
    z-index: 10;
    right: 6px;
    top:4px;
}
.navbar-form.search-form.square input{
	border-radius: 0;
    float: left;
    width: 438px;
    background: #fff;
    border: 2px solid #e4e4e4;
    color: #464646;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
}
.navbar-form.search-form .btn{
	color: #968f8f;
}
.list .navbar-form{padding: 0;}
.list_content .list{
	margin-bottom: 30px;
}
.list_content table tr th{background: #ff7444; color:#fff;}
.btn-admin button{
  border-radius: 5px;
}
.btn-admin button a:hover{
  text-decoration: none;
}
